*{
    margin : 0px;
    padding : 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.dangerContainer{
    background-color: #990000;
    height:40px;
    width: 100%;
}
/* .dangerContainer  */
.container{
    width : 66%;
    height: 30px;
    /* background-color: gray; */
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding:5px;
    display: flex;
    align-items: center;
}
.dangerContainer .container img{
    position: relative;
    height: 30px;
    width: 30px;
}
.dangerContainer .container a{
    padding-left: 10px;
    font-size: 16px;
    color : white;
}
.dangerContainer .container a:hover{
    text-decoration: none;
}
.internationlSession{
    height: 31px;
    background-color: #2d2d2d;
}
.headerSession{
    background-color: black;
    height: 80px;
}
.imageSession{
    position: relative;
    /* height : 460px; */
    height: 352px;
    background-color: gray;
    /* width:100%; */
}
.imageSession img{
    position: relative;
    /* height : 100%; */
    width : 100%;
    /* object-fit: cover; */
    background-size: cover;
}
.imageSession p{
    /* position: absolute; */
    font-size: 40px;
    font-family: sans-serif;
    text-shadow: 3px 3px 5px black;
    color : white;
}
.insideContainer{
    /* position: absolute; */
    bottom: 110px;
    width : 66%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding:5px;
    display: flex;
    align-items: center;
}
.tabSession{
    height : 52px;
    background-color: #ccc!important;
}
.containerData{
    position: relative;
    width : 66%;
    left:50%;
    top:110px;
    transform: translate(-50%);
    /* background-color: green; */
    height: 570px;
}
.leftContainer{
    margin-top: 50px;
    position: relative;
    float:left;
    width:55%;
    height:200px;
    /* background-color: #2d2d2d; */
}
.rightContainer{
    margin-top: 40px;
    /* margin-top: 2.3125rem; */
    position: relative;
    float: right;
    width: 40%;
    height:200px;
    /* background-color: #990000; */
}
.tableContainer{
    border : solid rgba(164, 164, 164, 0.478) 1px;
}
.tableContainer h2{
    font-size: 18px;
    color: white;
    background-color: #0e606c;
    height:50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-family: sans-serif;
}
.leftbargreen{
    width:3px;
    height: 60%;
    position: absolute;
    left:15px;
    bottom :10px;
    background-color: #17a2b8!important;;
}
.tableContainer ul{
    position: relative;
    list-style-type:disc;
    padding: 20px;
    line-height: 25px;
    margin-left: 45px;
    font-size: 17px;
    color : #333132;
}
.btnLeft {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #1c467a;
    border: #1c467a;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    
}
.btnLeft:hover{
    background: #1c5b92;
    border: #1c5b92;
    transition: 0.15s;
}
.vedioLeft{
    margin-top: 45px;
}
.textLeft{
    margin-top: 45px;
}
.textLeft h2{
    margin-bottom: 8px;
    font-size: 1.563rem;
    font: 25.008px "Roboto Slab", serif;
}
.textLeft p{
    margin-bottom: 1rem;
}
.cardSession{
    position: relative;
    background-color: #f5f5f5!important;
    width: 100%;
    height:450px;
    position: relative;
    margin-top: 130px;
}
.cardCenter{
    position: relative;
    display: flex;
    /* flex-wrap:wrap; */
    justify-content: center;
    /* align-items:flex-start; */
    width : 66%;
    height: 345px;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    /* background-color: black; */
}
.card{
    margin:0px 20px;
    width:320px;
    height: 100%;
    /* background-color: green; */
    text-align: center;
    line-height: 25px;
    position: relative;
    font-size: 16px;
}
.card img{
    width: 100%;
    height:170px;
}
.card h2{
    margin: 8px;
    font-size: 1.563rem;
    font: 25.008px "Roboto Slab", serif;
}
.card button{
    color: white;
    background-color: #1c467a;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border: none;
    cursor: pointer;
    height: 40px;
    font-size: 16px;
}
.card button:hover{
    background: #1c5b92;
    border: #1c5b92;
    transition: 0.15s;
}
.numberSession{
    position: relative;
    background-color: white;
    width: 100%;
    height:280px;
}
.numberCenter{
    position: relative;
    display: flex;
    justify-content: center;
    width : 66%;
    height: 100%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.numberCard{
    width:100%;
    text-align: center;
    /* background-color: gray; */
}
.numberCard .data{
    position: relative;
    top:40%;
    left:50%;
    transform: translate(-50%,-40%);
}
.numberCard h2{
    font-size: 35px;
    color:#1c467a;
}
.numberCard p{
    margin-top: 10px;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
}
.secondlastFooter{
    width: 100%;
    height: 350px;
    background-color: #2d2d2d!important;
    color:white;
}
.footerCard{
    width:100%;
    margin: 10px;
    /* background-color: white; */
}
.footerCard .data {
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 80%;
    width:100%;
    font-size: 13px;
    /* background-color: red; */
}
.footerCard .data h3{
    font-size: 19px;
}
.adress{
    margin:24px 0px;
    line-height: 19px;
}
.secondFooterLink{
    text-decoration: underline;
    color: #ccc;
}
.secondFooterLink:hover{
    text-decoration: none;
    color: #fff;
}
.footerCard ul{
    margin:24px 0px;
    list-style: none;
}
.footerCard ul li{
    padding : 3.5px 0px;
}
.footerCard a{
    color : #ccc;
    text-decoration: none;
}
.footerCard a:hover{
    color : white;
    text-decoration: underline;
}
.footerCard .data .links{
    width:100%;
    height:45px;
    margin:20px 0px;
    /* background-color: white; */
}
.footerCard .data img{
    padding:5px;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: solid white 2px;
    border-radius: 50%;
}
.rightBoder{
    position: absolute;
    right:20px;
    top:0px;
    width:1px;
    height: 100%;
    transform: translate(-50%);
    background-color: white;
}
.footer{
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    color:white;
    text-align: center!important;
   
}
.footer p{
    color: #333132;
    font:13px "Open Sans", san-serif;
    font-weight: 400;
    padding-top: 20px;
}
.footerLink{
    text-decoration: underline;
    color: #1c467a;
}
.footerLink:hover{
    text-decoration: none;
}
